<mat-drawer-container class="page page-container" autosize>
  <mat-drawer #drawer class="page" mode="side">
    <div class="page-sidenav">
      <div>
        <mat-divider [inset]="true"></mat-divider>
        <a mat-raised-button class="page-link" routerLink="/"> Inicio </a>
        <mat-divider [inset]="true"></mat-divider>
      </div>
      <div>
        <mat-divider [inset]="true"></mat-divider>
        <div>
          <a mat-raised-button class="page-link" routerLink="/student">
            Estudiantes
          </a>
          <a mat-raised-button class="page-link" routerLink="/student/add">
            Crear estudiante
          </a>
          <mat-divider [inset]="true"></mat-divider>
        </div>
      </div>
      <div>
        <mat-divider [inset]="true"></mat-divider>
        <a mat-raised-button class="page-link" routerLink="/class"> Clase </a>
        <a mat-raised-button class="page-link" routerLink="/class/add">
          Crear clase
        </a>
        <mat-divider [inset]="true"></mat-divider>
      </div>
      <div>
        <mat-divider [inset]="true"></mat-divider>
        <a mat-raised-button class="page-link" routerLink="/course"> Cursos </a>
        <a mat-raised-button class="page-link" routerLink="/course/add">
          Crear curso
        </a>
        <mat-divider [inset]="true"></mat-divider>
      </div>
    </div>
  </mat-drawer>
  <mat-toolbar class="page page-toolbar">
    <button
      mat-icon-button
      aria-label="Open sidenav"
      (click)="drawer.toggle()"
      class="page-toggle"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Escuela Angular</span>
  </mat-toolbar>
  <div class="container">
    <router-outlet> </router-outlet>
  </div>
</mat-drawer-container>
